
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  a {
    padding: 0 20px;
    margin: 0 5px;
  }
}

.nav__signup {
  margin-left: auto;
}

.active-link {
  background-color: red;
}