
.deck__flex-container {
  display: flex;
  height: 100%;
  position: relative;
  flex-wrap: wrap;
}

.deck__flex-item {
  //
}

.deck__cards {
  min-width: 480px;
  width: 80%;
  // order: 2;
}

.deck__deck {
  // order: 1;
  width: 160px;
}

@media (max-width: 640px) {
  .deck__deck {
    order: 1;
  }
} 