.deck__outer-container {
  width: 100vw;
}

.deck__flex-container {
  display: flex;
  justify-content:space-between;
}

.deck__flex-item {
  //
}

.deck__cards {
  max-width: 80%;
}

.deck__deck {
  width: 20%;
}